/** 顶部工具栏目 start */
.toolbar {
  vertical-align: bottom;
  margin: 0 0 20px 0;
  .toolbar-title {
    color: #494949;
    font-size: 18px;
    margin-left: 15px;
    display: inline-block;
  }
  .right {
    float: right;
    a {
      height: 32px;
      padding-top: 14px;
      display: inline-block;
    }
  }
  .ant-input-search {
    width:634px;
    height:32px;
    input {
      height:30px;
      font-size:13px;
      background:#f8f8f8;
      letter-spacing:0.65px;
      border-radius:0 2px 2px 2px;
      border: 0px solid #d9d9d9;
      &:focus {
        border-color: #4aa7ff;
        outline: 0;
        box-shadow: 0 0 0 1px rgba(33, 142, 255, 0.2);
      }
    }
  }

  .search-tab {
    vertical-align: bottom;
    width: 635px;
    display: inline-block;
    .ant-tabs-bar {
      border-bottom: 0;
      margin-bottom: 0;
      .ant-tabs-nav-container {
        height: 34px;        
        .ant-tabs-tab {
          box-sizing: border-box;
          border: 0px;
          color:#0882ff;
          font-size:13px;
          letter-spacing:0.65px;
          background-color: #fff;
          line-height: 32px;
          padding: 0 20px 1px 20px;
          &.ant-tabs-tab-active {
            background-color: #0882ff;
            color: #fff;
            background:#0882ff;
            border-radius:4px 4px 0 0;
          }
        }
      }
    }
    .ant-tabs-content {
      .ant-tabs-tabpane {
        padding: 0 2px 2px 0;
      }
    }
  }

  .more-btn {
    margin-left: 18px;
    margin-right: 8px;
    margin-bottom: 2px; 
    font-size:13px;
    position: relative;
    padding-right: 30px;
    line-height:20px;
    color: #218eff;
    &:before {
      top: 6px;
      opacity: 1;
      left: 72px;
      width: 20px;
      height: 20px;
      display: block;
      color: #218eff;
      content: "\E61D";
      font-weight: bold;
      position: absolute;
      background-color: transparent;
      font-family: "anticon" !important;
    }
    &:hover {
      color: #fff;
      background-color: #0882ff;
      &:before {
        color: #fff;
      }
    }
  }
}
/** 顶部工具栏目 end */

/** 选中所有订单 start  */
.check-all-wrap {
  margin-left: 20px;
  margin-bottom: 11px;
  color: #ccc;
  a {
    &.disabled {
      color: #ccc;
      cursor: not-allowed;
    }
  }
}
/** 选中所有订单 end  */

/** 订单列表项样式 start */
.order-info-item {
  border-radius:2px;
  margin-bottom: 20px; 
  &-title {
    overflow: hidden;
    height:30px;
    padding: 0 20px;
    line-height: 30px;
    background:#f0f8ff;
    & .title-item {
      vertical-align: top;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space:nowrap;
      font-size:13px;
      color:#999999;
      margin-left: 30px;
      display: inline-block;
      a {
        font-size:13px;
        color:#0882ff;
      }
      &.black {
        color: #000;
      }
      &.right {
        float: right;
      }
      &:first-child {
        margin-left: 0;
      }
      .ant-checkbox-wrapper {
        margin-right: 10px; 
      }
    }
  }
  &-body {
    // background-color: blue;
    overflow: hidden;
    border-top: 0;
    border: 1px solid #ebebeb;
    border-top: 0;
    .order-detail {
      width: 100%;
      display: table;
      margin: 20px 0;
      .col {
        display: table-cell;
        min-height: 83px;
        padding: 0 18px;
        vertical-align: middle;
        border-right: 1px dashed #aaa;
        &.undashed {
          border-right: 0;
        }
        p {
          margin: 10px 0;
          font-size:14px;
          color:#494949;
          letter-spacing:0;
          line-height:23px;
        }
        &.userInfo {
          h3 {
            font-size:18px;
            color:#000000;
            letter-spacing:0;
            line-height:23px;
            text-align:left;
          }
          p {
            margin: 2.5px 0;
          }
        }
      }
      .operation {
        width: 112px;
      }
    }
    .order-detail-bottom {
      border-top: 1px solid #f0f0f0;
      margin: 0 10px;
      .bottom-item {
        line-height: 40px;
        font-size:14px;
        color:#494949;
      }
    }
  }
  &-footer {
    &.gray {
      background-color: #efefef;
    }
    border: 1px solid #ebebeb;
    padding: 11px 20px;
  }
  background-color: gray;
  background:#fff;
}
/** 订单列表项样式 end */

/** antd 公共样式修改 start */
.ant-input-search-button {
  color: #ccc !important;
  background-color: #f8f8f8 !important;
  border-color: #f8f8f8 !important;
}
/** antd 公共样式修改 end */